body {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

.centered {
    text-align: center;
    margin: auto;
}

.green-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.green-button:hover {
    background-color: darkgreen;
}

table {
    margin: auto;
    text-align: left;
    width: 50%;
    border-spacing: 10px;
}

table td {
    padding: 5px;
}

#grid-output td {
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.PPP { background-color: yellow; }
.CC { background-color: darkblue; color: white; }
.L1 { background-color: grey; }
.L2 { background-color: lightgrey; }
.L3 { background-color: lightblue; }
.L4 { background-color: orange; }
.L5 { background-color: green; color: white; }
.L6 { background-color: tan; }
